body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

h1, h4 {
    text-align:center;
    font-style: oblique;
    font-weight: bolder;
}

.container {
    border: 12px #B22222;
    border-radius: 10px;
    margin-top: 65px;
    margin-bottom: 15px;
    padding: 5px;
    outline-style: unset;
    width: 100%;
    justify-content: center;
}

.row {
    margin-bottom: 2px;
    border-top: 1px;
    white-space: normal;
    height: 80px;
    opacity: 0%;
}

.timeblock {
    padding-right: 10px;
}

#input 